<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.zls"
        >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
            android:name="com.example.zls.application.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            >
        <activity
                android:name="com.example.zls.controller.MainActivity"
                android:screenOrientation="unspecified"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.zls.controller.second_floor.PullActivity" />

        <activity android:name="com.example.zls.controller.hen_coder.HenCoderPracticeActivity" />

        <activity android:name=".controller.hen_coder.HenCoder7Activity" />

        <activity android:name=".controller.test_demo.TestDemoActivity" />

        <activity android:name=".controller.unity_game.UnityGameTestActivity" />

        <!--        <activity-->
        <!--                android:name=".controller.faceAuth.TestActivity"-->
        <!--                android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--                android:launchMode="singleTask"-->
        <!--                android:screenOrientation="portrait"-->
        <!--                android:theme="@style/AppTheme"-->
        <!--                android:windowSoftInputMode="adjustResize"-->
        <!--                />-->
    </application>

</manifest>